#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Adding pointing.h to be able to right and middle click
// https://zmk.dev/docs/keymaps/behaviors/mouse-emulation
#include <dt-bindings/zmk/pointing.h>

#define BASE  0
#define LOWER 1
#define RAISE 2
#define ADJ   3


#define KEYS_L            0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29
#define KEYS_R            6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35
#define THUMBS            36 37 38 39 40 41
#define HRM_PRIOR_IDLE_MS 75

&lt {
  tapping-term-ms = <240>;
  flavor = "balanced";
  quick-tap-ms = <150>;
};

&mt {
  tapping-term-ms = <240>;
  flavor = "balanced";
  quick-tap-ms = <150>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    behaviors {
      // Testing urob's timeless home-row mods:
      // https://github.com/urob/zmk-config#timeless-homerow-mods
      // Cross-hand shortcuts can resolve immediately; same-hand shortcuts still
      // require holding past tapping-term-ms before pressing the next key.
      hrm_l: hrm_l {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        // How long a plain hold waits before becoming the modifier.
        // Cross-hand shortcuts can still resolve sooner via balanced + hold-trigger-key-positions.
        tapping-term-ms = <240>;
        bindings = <&kp>, <&kp>;
        flavor = "balanced";
        // If this HRM is tapped and quickly pressed again, keep the second press as a tap.
        // Useful for repeating letters without the second press becoming the modifier.
        quick-tap-ms = <150>;
        // If pressed within this window after a normal key, force a tap so fast typing stays immediate.
        // Lower this if intended HRM shifts/mods are blocked while typing quickly;
        // raise it if fast rolls accidentally trigger modifiers.
        require-prior-idle-ms = <HRM_PRIOR_IDLE_MS>;
        hold-trigger-key-positions = <KEYS_R THUMBS>;
        hold-trigger-on-release;
      };

      hrm_r: hrm_r {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        tapping-term-ms = <240>;
        bindings = <&kp>, <&kp>;
        flavor = "balanced";
        quick-tap-ms = <150>;
        require-prior-idle-ms = <HRM_PRIOR_IDLE_MS>;
        hold-trigger-key-positions = <KEYS_L THUMBS>;
        hold-trigger-on-release;
      };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
                &none  &kp Q          &kp W           &kp E         &kp R         &kp T           &kp Y     &kp U         &kp I         &kp O           &kp P             &none
                &none  &hrm_l LSHFT A &hrm_l LCTRL S  &hrm_l LALT D &hrm_l LGUI F &kp G           &kp H     &hrm_r RGUI J &hrm_r RALT K &hrm_r RCTRL L  &hrm_r RSHFT SEMI &none
                &none  &kp Z          &kp X           &kp C         &kp V         &kp B           &kp N     &kp M         &kp COMMA     &kp DOT         &kp FSLH          &none
                                                      &gresc        &lt 1 TAB     &kp RET         &kp SPACE &lt 2 BSPC    &kp BSPC
            >;
        };

        lower {
            display-name = "LOWER";
            bindings = <
                &trans  &kp N1         &kp N2   &kp N3  &kp N4  &kp N5           &kp N6   &kp N7   &kp N8  &kp N9     &kp N0  &trans
                &trans  &trans         &trans   &trans  &trans  &trans           &kp LEFT &kp DOWN &kp UP  &kp RIGHT  &trans  &trans
                &trans  &studio_unlock &trans   &trans  &trans  &trans           &trans   &trans   &trans  &trans     &trans  &trans
                                                &trans  &trans  &trans           &trans   &trans   &trans
            >;
        };

        raise {
            display-name = "RAISE";
            bindings = <
                &trans  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT         &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &trans
                &trans  &trans    &trans  &trans    &trans    &trans            &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp SQT   &trans
                &trans  &trans    &trans  &trans    &trans    &trans            &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp BSLH  &trans
                                          &trans    &trans    &trans            &trans     &trans     &trans
            >;
        };

        adj {
            display-name = "ADJ";
            bindings = <
                &trans  &trans  &kp F7  &kp F8  &kp F9   &kp F12            &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &trans  &trans  &trans
                &trans  &trans  &kp F4  &kp F5  &kp F6   &kp F11            &trans        &trans      &trans        &trans  &trans  &trans
                &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans             &trans        &trans      &trans        &trans  &trans  &trans
                                        &mo 1   &trans   &trans             &mo 2         &trans      &none
            >;
        };

        extra_1 {
                status = "reserved";
        };

        extra_2 {
                status = "reserved";
        };

        extra_3 {
                status = "reserved";
        };
    };
};
